<div style="width: 100%; display:flex; align-items: center; justify-content: center;">
    <button disabled= "bandera" type="button" (click)="onSubmit()" style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;" label="Depreciar" >Depreciar</button>
</div>
