<div class="card no-margin">
    <h1>Contacto</h1>
    <div class="ui-g ui-fluid dashboard" style="background-color: rgb(237,240,245); padding: 15px;">
        <br>
        <br>
        <div class="ui-g-12 ui-md-6 ui-lg-4" style="width: 50%;">
            <p-panel header="Contacto Institucional" [style]="{'background':'#fff','height':'100%','width':'100%'}">
                <ul class="contacts">
                    <li>
                        <a style="color: rgb(139, 137, 137); font-size: 15px; ">
                            <span><b style="color: rgb(35,153,229);">Dirección: </b> Octavio Chacón Moscoso 1-98
                                y Primera Transversal (Parque industrial)</span>
                        </a>
                    </li>
                    <li>
                        <a style="color: rgb(139, 137, 137); font-size: 15px;">
                            <span><b style="color: rgb(35,153,229);">Teléfono: </b> 07 2809 551 - 0995363076</span>
                        </a>
                    </li>
                    <li>
                        <a style="color: rgb(139, 137, 137); font-size: 15px;">
                            <span> <b style="color: rgb(35,153,229);">Correo Electrónico: </b>
                                info@tecazuay.edu.ec</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tecazuay.edu.ec" style="color: rgb(139, 137, 137);font-size: 15px;">
                            <span> <b style="color: rgb(35,153,229) ;">Sitio web: </b> </span>
                            <span> tecazuay.edu.ec</span>
                        </a>
                    </li>
                </ul>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4" style="width: 50%;">
            <p-panel header="Desarrolladores" [style]="{'background':'#fff','height':'100%','width':'100%'}">
                <ul class="contacts">
                    <li>
                        <a>
                            <img src="assets/layout/images/avatar_1.png" width="35">
                            <span class="name">Gina Villalta</span>
                            <span class="email">ginavillaltac@outlook.com</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/layout/images/avatar_2.png" width="35">
                            <span class="name">Jimmy Malla</span>
                            <span class="email">jimmymalla2@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/layout/images/avatar_4.png" width="35">
                            <span class="name">Andrés Barahona</span>
                            <span class="email">andresjabl@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </p-panel>
        </div>
        <br>
        <div style="width: 100%; display: flex; justify-content: center; padding: 30px; font-size: 15px; color: rgb(66, 66, 66);">
            <span> <b>Redes Sociales:</b> </span>
        </div>
        <div style="width: 100%; display: flex; justify-content: center; font-size: 15px; color: rgb(66, 66, 66);">
            <div class="columna3"></div>
            <div class="columna3" style="display: flex; justify-content: center;">
                <div class="columna3" style="display: flex; justify-content: center;">
                    <a href="https://www.facebook.com/TecAzuay/"><img src="assets/lfb.png" alt="Facebook"></a>
                </div>
                <div class="columna3" style="display: flex; justify-content: center;">
                    <a href="https://www.instagram.com/tecdelazuay/?hl=es-la"><img src="assets/ltw.png" alt="Twitter"></a>
                </div>
                <div class="columna3" style="display: flex; justify-content: center;">
                    <a href="https://twitter.com/TecAzuay"><img src="assets/lIn.png" alt="Instagram"></a>
                </div>
            </div>
            <div class="columna3"></div>
        </div>
    </div>
</div>