.columna {
    width:50%;
    float:left;
  }
  
  @media (max-width: 500px) {
    
    .columna {
      width:auto;
      float:none;
    }
    
}
.columna3 {
  width:33%;
  float:left;
}

@media (max-width: 500px) {
  
  .columna3 {
    width:auto;
    float:none;
  }
  
}