<div class="card no-margin">
    <h1>Ingresar Categoria:</h1>
    <br><br>
    <div class="container" style="background-color: rgb(237,240,245);">
            <br><br>
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div style="display:flex; justify-content: center; align-items: center;">
                            <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="pi pi-bookmark"
                                                    style="line-height: 1.25;"></i></span>
                                    <input maxlength="250" class="input name" type="text"
                                            formControlName="cat_nombre" name="cat_nombre" id="cat_nombre"
                                            pInputText placeholder="Nombre de Categoria" class="form-control">
                                    <div *ngIf="submitted && !!f.cat_nombre.errors" class="invalid-feedback">
                                            <div *ngIf="!!f.cat_nombre.errors.required">Campo requerido</div>
                                    </div>
                            </div>
                    </div><br><br><br>
                    <div style="display:flex; justify-content: center; align-items: center;">
                            <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="pi pi-dollar"
                                                    style="line-height: 1.25;"></i></span>
                                    <input maxlength="250" class="input name" type="text"
                                            formControlName="cat_val_depre" name="cat_val_depre"
                                            id="art_cod_aterior" pInputText placeholder="Valor Depresiación">
                                    <div *ngIf="submitted && !!f.cat_val_depre.errors" class="invalid-feedback">
                                            <div *ngIf="!!f.cat_val_depre.errors.required">Campo requerido</div>
                                    </div>
                            </div>
                    </div><br><br><br>
                    <div style="display:flex; justify-content: center; align-items: center;">
                            <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="pi pi-times"
                                                    style="line-height: 1.25;"></i></span>
                                    <input maxlength="250" class="input email" type="text"
                                            formControlName="cat_tiempo_depre" name="cat_tiempo_depre"
                                            id="cat_tiempo_depre" pInputText placeholder="Tiempo de Depresiación"
                                            class="form-control">
                                    <div *ngIf="submitted && !!f.cat_tiempo_depre.errors" class="invalid-feedback">
                                            <div *ngIf="!!f.cat_tiempo_depre.errors.required">Campo requerido</div>
                                    </div>
                            </div>
                    </div>
                    <br><br>
                    <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
                            <button style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;"
                                    label="Guardar">Guardar</button>
                    </div>
                    <br>
                    <br>
            </form>
    </div>
    <br>
    <br>
</div>