<br>
<div class="container">
    <div class="columna">
        <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()' label="VOLVER"></button>
        <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listarInstitucion()' label="LISTAR"></button>
        <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='editarporId()' label="MODIFICAR"></button>
    </div>
    <br>
</div>

<br><br><br>
<div *ngIf="!bandera==true" class="datagrid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Instituciones:</h1>
            <p-table #dt [columns]="cols" 
                [value]="institucion" 
                selectionMode="single" 
                dataKey="emp_id" 
                [(selection)]="selectedInsti" 
                [paginator]="true" 
                [rows]="10" 
                [responsive]="true">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>