<div class="container" style="background-color: white; height: 180px;">
    <div >
        <label for="input">Escoja el parámetro a buscar</label>
    </div>
    <div class="fila">
        <p-dropdown [options]="bodegas" [(ngModel)]="selectedBodega" placeholder="Selecciona una ubicación"  optionLabel="aula_nombre" [showClear]="true" [filter]="true"></p-dropdown>
        <button style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
        <input type="text" [(ngModel)]="parametro" pInputText size="50" placeholder="Ingresa el parámetro a buscar" style="width:220px">
        <button style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
            <button style="margin: 10px" pButton type="button" kendo-button (click)="pdf.saveAs('reporte.pdf')" label="IMPRIMIR"></button>
    </div>
</div>
<br><br>

<kendo-pdf-export #pdf paperSize="A4" margin="5mm" style="display:flex;align-items: center;justify-content: center;">

    <div *ngIf="bandera1==true" style="background-color: white; padding:20px; align-items: center; text-align: center;">
        <div><img src="../../../assets/logoOfi.png" width="150px" height="120px"></div>
        <p style="align-items: center; font-weight: bold;"><br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
        </p>
        <p style="justify-content: right; text-align: right; font-size: 8px;"> Cuenca {{dia}} de {{mes}} de {{aa}} 
        </p>
        <div style="display: flex;align-items: center;justify-content: center;">
            <p-table *ngIf="bandera==false" 
            [columns]="cols" 
            [value]="articulos" 
            selectionMode="single" 
            dataKey="art_id"
            [(selection)]="selectedArtic" 
            [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr style="font-size: 9px;">
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData" style="font-size: 6px;">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p style="align-items: center; font-size: 8px;"><br><br>___________________________ <br> MGTR. Marcelo Aguilera Crespo<br>CI: 0104234216<br>Rector<br>
        </p>
        <br>
    </div>
</kendo-pdf-export>
