<br>
<div class="container">
    <div class="columna" >
            <button  style="margin: 10px" pButton type="button" (click)='listarInventario()' label="LISTAR"></button>
    </div>
</div>
<br><br><br><br>
<div class="datagrid" >
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Asignaciones</h1>
            <p-table #dt [columns]="cols" 
            [value]="inventarios" 
            selectionMode="single" 
            dataKey="inv_id" 
            [(selection)]="selectedInventario"
            [paginator]="true" 
            [rows]="10" 
            [responsive]="true">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th >Nombre</th>
                        <th >Apellido</th>
                        <th >Departamento</th>
                        <th >Articulo</th>
                        <th >Codigo</th>
                        <th >Fecha</th>
                        <th >Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" *ngFor="let inv of inventarios;" style="align-items: center;">
                        <td>{{inv.inv_doc_nombre}}</td>
                        <td>{{inv.inv_doc_apellido}}</td>
                        <td>{{inv.inv_art_ubicacion_destino}}</td>
                        <td>{{inv.inv_art_modelo}}</td>
                        <td>{{inv.inv_art_codigo}}</td>
                        <td>{{inv.inv_fecha}}</td>
                        <td>
                            <button (click)='eliminarporId(inv);' style="margin:10px; height:25px; width:30px" pButton type="button" ><i class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>