<div class="container">
    <div >
        <label for="input">Escoja el parámetro a buscar</label>
    </div>
    <div class="columna">
        <p-dropdown [options]="docentes" [(ngModel)]="selectedDocente" placeholder="Selecciona un Docente"  optionLabel="per_identificacion" [showClear]="true" [filter]="true" filterBy="label,value.per_identificacion,value.per_primerapellido,value.per_primernombre">
            <ng-template let-doc pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{doc.value?.per_identificacion+" "+doc.value?.per_primernombre +" " +doc.value?.per_primerapellido}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <button style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
        <p-dropdown [options]="bodegas" [(ngModel)]="selectedBodega" placeholder="Selecciona una ubicación"  optionLabel="aula_nombre" [showClear]="true" [filter]="true"></p-dropdown>
        <button style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
        <input type="text" [(ngModel)]="parametro" pInputText size="50" placeholder="Ingresa el parámetro a buscar" style="width:220px">
        <button style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
            <br>
        <p>A Seleccionado a: {{selectedDocente ? selectedDocente.per_primernombre +" " + selectedDocente.per_primerapellido: 'none'}} </p>
        <button *ngIf="bandera==true" style="margin: 10px; float: right;" pButton type="button" (click)='eliminarporParametro()'
            label="Eliminar"></button>  
        <button *ngIf="bandera==true" style="margin: 10px; float: right;" pButton type="button" (click)='editarporId()'
            label="Modificar"></button>
    </div>
</div>
<br><br><br><br>

<div *ngIf="bandera==true" class="datagrid" >
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Asignaciones</h1>
            
            <p-table #dt [columns]="cols" 
            [value]="inventarios" 
            selectionMode="single" 
            dataKey="inv_id" 
            [(selection)]="selectedInventario"
            [paginator]="false" 
            [rows]="10" 
            [responsive]="true">
                
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <!-- <th >Nombre</th>
                        <th >Apellido</th> -->
                        <th >Departamento</th>
                        <th >Articulo</th>
                        <th >Codigo</th>
                        <th >Fecha</th>
                        <th >Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inv let-columns="columns">
                    <tr class="alt" style="align-items: center;">
                        <td>{{inv.inv_art_ubicacion_destino}}</td>
                        <td>{{inv.inv_art_modelo}}</td>
                        <td>{{inv.inv_art_codigo}}</td>
                        <td>{{inv.inv_fecha}}</td>
                        <td>
                            <button (click)='eliminarporId(inv);' style="margin:10px; height:25px; width:30px" pButton type="button" ><i class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>