<div class="card no-margin">
    <h1>Ingresar Institución:</h1>
    <br><br>
    <div class="container" style="background-color: rgb(237,240,245);">
            <br><br>
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div style="display:flex; justify-content: center; align-items: center;">
                            <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="pi pi-bookmark"
                                                    style="line-height: 1.25;"></i></span>
                                    <input maxlength="250" class="input name" type="text" formControlName="emp_nombre"
                                            placeholder="Nombre de la Institución" name="emp_nombre" id="emp_nombre"
                                            pInputText class="form-control">
                                    <div *ngIf="submitted && !!f.emp_nombre.errors" class="invalid-feedback">
                                            <div *ngIf="!!f.emp_nombre.errors.required">Campo requerido</div>
                                    </div>
                            </div>
                    </div><br><br>
                    <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
                            <button style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;" label="Guardar" >Guardar</button>
                    </div>
                    <br>
                    <br>
                    <br>
            </form>
    </div>
</div>