<br>
<div class="container">
    <div class="columna">
        <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()'
            label="VOLVER"></button>
        <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listarDocente()'
            label="LISTAR"></button>
    </div>
    <br>
</div>
<br><br><br>
<div *ngIf="!bandera==true" class="datagrid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Docentes</h1>
            <p-table  #dt
                [columns]="cols" 
                [value]="docentes" 
                [lazy]="true" 

                (onLazyLoad)="loadCarsLazy($event)"
                (onFilter)="columnFilter($event)" 
                [paginator]="true" 
                (onRowSelect)="onRowSelect($event)"
                
                [rows]="numerofilas" 
                [filterDelay]="400" 
                
                [totalRecords]="totalrecords" 
                [loading]="this.loading"
                selectionMode="single" 
                
                dataKey="per_identificacion" 
                
                [(selection)]="selectedDocente"
                [scrollable]="true" 
                [style]="{width:'100%'}" 
                scrollHeight="400px">
                
                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:150px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let doc of columns">
                            {{doc.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="font-size: smaller; font-weight: bold;">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
