
<br><br><br>
<div *ngIf="!bandera==true" class="datagrid" style="padding:20px; ">
    <div class="ui-g-12">

        <div class="card card-w-title">
            <h1>Articulos</h1>
            <div>
                <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()' label="VOLVER"></button>
                <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listar()' label="LISTAR"></button>
                <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='editarporId()' label="MODIFICAR"></button>
            </div>

            <p-table #dt *ngIf="bandera==false"  
            [columns]="cols" 
            [value]="articulos" 
            [lazy]="true" 
            
            (onLazyLoad)="loadCarsLazy($event)" 
            (onFilter)="columnFilter($event)" 
            [paginator]="true" 
            (onRowSelect)="onRowSelect($event)" 
            
            [rows]="numerofilas" 
            [filterDelay]="400" 
            [totalRecords]="totalrecords"
            [loading]="this.loading" 
            selectionMode="single" 
            dataKey="art_id" 
            [(selection)]="articuloEditar" 
            [scrollable]="true" 
            [style]="{width:'100%'}" 
            scrollHeight="400px">

                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:140px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="col.field" pInputText type="text" size="10" (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="font-size: smaller; font-weight: bold;">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>