.columna {
    width: 50%;
    float: left;
}

@media (max-width: 500px) {
    .columna {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
        float: none;
    }
}

.columCod {
    width: 50px;
}

.custombar2 .ui-scrollpanel-wrapper {
    border-right: 9px solid #757575;
    border-bottom: 9px solid #757575;
}

.custombar2 .ui-scrollpanel-bar {
    background-color: #68C77D;
    border-radius: 0;
    opacity: 1;
    transition: background-color .3s;
}

.custombar2:hover .ui-scrollpanel-bar {
    background-color: #46A55A;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #C8C8C8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
    padding: 8px 8px;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F0F0F0), color-stop(1, #F7F7F7));
    background: -moz-linear-gradient( center top, #F0F0F0 5%, #F7F7F7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#F7F7F7');
    background-color: #F0F0F0;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-left: 2px solid #C8C8C8;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #000000;
    border-left: 2px solid #C8C8C8;
    font-size: 13px;
    border-bottom: 2px solid #C8C8C8;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #F4F4F4;
    color: #2A2E2E;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.codigo {
    width: 50px;
}

.serie {
    width: 100px;
}