<div class="container" style="background-color: white; height: 100px;">
    <div class="columna">
        <label *ngIf="bandera1==true" for="input">Escoja el Docente a asignar: </label>
        <p-dropdown *ngIf="bandera1==true" [options]="docentes" [(ngModel)]="selectedDocente" placeholder="Selecciona un Docente"  optionLabel="per_identificacion" [showClear]="true" [filter]="true" filterBy="label,value.per_identificacion,value.per_primerapellido,value.per_primernombre">
            <ng-template let-doc pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{doc.value?.per_identificacion+" "+doc.value?.per_primernombre +" " +doc.value?.per_primerapellido}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <button *ngIf="bandter==true" style="margin: 10px" pButton type="button" (click)='terminarRegistro()'
            label="ASIGNAR"></button>
        <button *ngIf="activo==true" style="margin: 10px" pButton type="button" kendo-button
            (click)="pdf.saveAs('acta.pdf')" label="IMPRIMIR"></button>
            <p *ngIf="bandera1==true">A Seleccionado a: {{selectedDocente ? selectedDocente.per_primernombre +" " + selectedDocente.per_primerapellido: 'none'}} </p>
    </div>
</div>
<br><br><br><br>
<div *ngIf="bandera1==true">
    <div style="text-align: right">
        <label for="input"> Ubicación: </label>
        <p-dropdown [options]="bodegas" [(ngModel)]="selectedBodega" placeholder="Selecciona una Ubicación"  optionLabel="aula_nombre" [showClear]="true" [filter]="true"></p-dropdown>
        <button *ngIf="bandter==true" style="margin: 10px" pButton type="button" (click)='buscarporArt()'
            label="BUSCAR"></button>
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" [(ngModel)]="parametro" pInputText size="50" placeholder="Ingresa el parámetro a buscar" style="width:auto">
            <button *ngIf="bandter==true" style="margin: 10px" pButton type="button" (click)='buscarporArticulo()'
                label="BUSCAR"></button>
    </div>
    <br>
    <br>
    <p-pickList [source]="sourceArts" [target]="targetArts" sourceHeader="No Asignado" targetHeader="Seleccionados" [responsive]="true" 
            dragdrop="true" sourceFilterPlaceholder="Ingrese el parámetro" targetFilterPlaceholder="Busca por Código" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
        <ng-template let-art pTemplate="item">
            <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{art.art_codigo +'|'+ art.art_bien +'|'+ art.art_aula}}</div>
            </div>
        </ng-template>
    </p-pickList>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="5mm" style="display:flex;align-items: center;justify-content: center;">

    <div *ngIf="bandera3==true" style="background-color: white; padding:20px; align-items: center; text-align: center;">
        <div><img src="../../../assets/logoOfi.png" width="150px" height="120px"></div>
        <p style="align-items: center; font-weight: bold;"><br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            <br><br>ACTA DE RESPONSABILIDAD DE BIENES
        </p>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> En la ciudad de Cuenca a los {{dia}} del mes {{mes}} de {{aa}} se procede a la suscripción de la
                presente Acta de Responsabilidad de Bienes. Por una parte el Magt. Marcelo Aguilera Crespo, Rector del
                Instituto Superior Tecnológico del Azuay (quien entrega),
                y por otra parte el /la docente {{selectedDocente.per_primernombre}} {{selectedDocente.per_primerapellido}} (quien recibe) se
                procede a la entrega de los bienes que a continuación detalla:
            </p>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;">
            <p-table [columns]="cols" [value]="inventarios" selectionMode="single" dataKey="inv_art_codigo"
                [(selection)]="selectedInventario" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr style="font-size: 11px">
                        <th style="width: 50px;">Código</th>
                        <th style="width: 96px;">Nombre</th>
                        <th style="width: 50px;">Color</th>
                        <th style="width: 50px;">Marca</th>
                        <th style="width: 70px;">Modelo</th>
                        <th style="width: 70px;">Serie</th>
                        <th style="width: 70px;">Estado</th>
                        <th style="width: 96px;">Ubicación Destino</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inv let-columns="columns">
                    <tr class="alt"  style="font-size: 6px;">
                        <td style="width: 50px;">{{inv.inv_art_codigo}}</td>
                        <td style="width: 96px;">{{inv.inv_art_bien}}</td>
                        <td style="width: 50px;">{{inv.inv_art_color}}</td>
                        <td style="width: 50px;">{{inv.inv_art_marca}}</td>
                        <td style="width: 70px;">{{inv.inv_art_modelo}}</td>
                        <td style="width: 70px;">{{inv.inv_art_serie}}</td>
                        <td style="width: 70px;">{{inv.inv_estado}}</td>
                        <td style="width: 96px;">{{inv.inv_art_ubicacion_destino}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <br>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> Declaro que he recibido los bienes institucionales detallados que se me han asignado, por lo que me
                comprometo a su custodia, conservación y devolución.</p>
            <br>
        </div>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p>Los bienes únicamente podrán ser movidos bajo los procedimientos establecidos por la institución, por lo
                que en caso de movimientos no autorizados, la responsabilidad de los bienes y del cumplimiento del
                proceso es exclusivo del custodio.</p>
        </div>
        <br><br><br>
        <p style="align-items: center;font-weight: bold;"><br><br>______________________ <br>{{selectedDocente.per_primernombre}}
            {{selectedDocente.per_primerapellido}}<br>CI: {{selectedDocente.per_identificacion}}
            <br>Docente<br></p>
        <br><br>
        <p style="align-items: center;font-weight: bold;"><br><br>______________________ <br> MGTR. Marcelo Aguilera Crespo<br>CI: 0104234216<br>Rector<br>
        </p>
    </div>
</kendo-pdf-export>