<div class="ui-g ui-fluid">
        <p-dialog header="Ingresar nueva Categoria" [(visible)]="dis2" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
            <form [formGroup]="addForm1">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-bookmark"
                                                style="line-height: 1.25;"></i></span>
                        <input maxlength="250" class="input name" type="text" formControlName="cat_nombre" name="cat_nombre" id="cat_nombre" pInputText placeholder="Nombre de Categoria" class="form-control">
                        <div *ngIf="submitted && !!f.cat_nombre.errors" class="invalid-feedback">
                            <div *ngIf="!!f.cat_nombre.errors.required">Campo requerido</div>
                        </div>
                    </div>
                </div><br><br><br>
                <div style="display:flex; justify-content: center; align-items: center;">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-dollar"
                                                style="line-height: 1.25;"></i></span>
                        <input maxlength="250" class="input name" type="text" formControlName="cat_val_depre" name="cat_val_depre" id="art_cod_aterior" pInputText placeholder="Valor Depresiación">
                        <div *ngIf="submitted && !!f.cat_val_depre.errors" class="invalid-feedback">
                            <div *ngIf="!!f.cat_val_depre.errors.required">Campo requerido</div>
                        </div>
                    </div>
                </div><br><br><br>
                <div style="display:flex; justify-content: center; align-items: center;">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-times"
                                                style="line-height: 1.25;"></i></span>
                        <input maxlength="250" class="input email" type="text" formControlName="cat_tiempo_depre" name="cat_tiempo_depre" id="cat_tiempo_depre" pInputText placeholder="Tiempo de Depresiación" class="form-control">
                        <div *ngIf="submitted && !!f.cat_tiempo_depre.errors" class="invalid-feedback">
                            <div *ngIf="!!f.cat_tiempo_depre.errors.required">Campo requerido</div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
                    <button type="button" (click)="onSubmitCategoria()" style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;" label="Guardar">Guardar</button>
                </div>
                <br>
                <br>
            </form>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" (click)="dis2=false" label="Cancelar" class="ui-button-secondary"></button>
            </p-footer>
        </p-dialog>
        <p-dialog header="Ingresar nueva Institucion" [(visible)]="dis" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
            <form [formGroup]="addForm2">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-bookmark"
                                                style="line-height: 1.25;"></i></span>
                        <input maxlength="250" class="input name" type="text" formControlName="emp_nombre" placeholder="Nombre de la Institución" name="emp_nombre" id="emp_nombre" pInputText class="form-control">
                        <div *ngIf="submitted && !!f.emp_nombre.errors" class="invalid-feedback">
                            <div *ngIf="!!f.emp_nombre.errors.required">Campo requerido</div>
                        </div>
                    </div>
                </div><br><br>
                <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
                    <button type="button" (click)="onSubmitInst()" style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;" label="Guardar">Guardar</button>
                </div>
                <br>
            </form>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" (click)="dis=false" label="Cancelar" class="ui-button-secondary"></button>
            </p-footer>
        </p-dialog>
        <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="margin: 0 0 1em 0;background-color: rgba(0, 113, 241, 0.842); color: white;">
            <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
            <ul>
                <li>
                    <span class="ui-messages-summary" style="font-size:16px">Para el buen manejo del sistema procure,
                        ingresar datos correctos y verdaderos sobre el artículo
                        para que en su busqueda posterior se facilite el proceso. En los campos de seleccionar asegurese,
                        que su selección sea la adecuada.</span>
                </li>
            </ul>
        </div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="ui-g-12 ui-lg-6">
                <div class="card card-w-title">
                    <h1 style="font-size: 20px; font-weight: bold;">Códigos:</h1>
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Cod. Nuevo</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input name="art_codigo" id="art_codigo" formControlName="art_codigo" type="text" pInputText placeholder="Código nuevo" class="form-control">
                            <div *ngIf="submitted && !!f.art_codigo.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_codigo.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">Cod. Anterior</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_cod_aterior" name="art_cod_aterior" id="art_cod_aterior" type="text" pInputText placeholder="Código anterior" class="form-control">
                            <div *ngIf="submitted && !!f.art_cod_aterior.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_cod_aterior.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Num. Acta</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_num_acta" name="art_num_acta" id="art_num_acta" type="text" pInputText placeholder="Numero de Acta" class="form-control">
                            <div *ngIf="submitted && !!f.art_num_acta.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_num_acta.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">BLD/BCA</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_bld" name="art_bld" id="art_bld" type="text" pInputText placeholder="BLD/BCA">
                            <div *ngIf="submitted && !!f.art_bld.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_bld.errors.required">Campo requerido</div>
                            </div>
                        </div><br>
                    </div>
                </div>
    
                <div class="card card-w-title">
                    <h1 style="font-size: 20px; font-weight: bold;">Caracteristicas:</h1>
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="input">Nombre:</label>
                            <input maxlength="1000" formControlName="art_bien" name="art_bien" id="art_bien" size="30px" type="text" placeholder="Nombre del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_bien.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_bien.errors.required">Campo requerido</div>
                            </div>
                        </div>
    
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">V.Contable:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_valor_contable" name="art_valor_contable" id="art_valor_contable" size="10px" type="text" placeholder="Valor Contable" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_valor_contable.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_valor_contable.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Color:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_color" name="art_color" id="art_color" size="30px" type="text" placeholder="Color del Articulo" pInputText />
                            <div *ngIf="submitted && !!f.art_color.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_color.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">Material:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_material" name="art_material" id="art_material" size="30px" type="text" placeholder="Material del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_material.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_material.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">Serie:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_serie" name="art_serie" id="art_serie" size="30px" type="text" placeholder="Serie del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_serie.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_serie.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <label for="input">Descripción:</label>
                            <textarea maxlength="5000" formControlName="art_descripcion" name="art_descripcion" id="art_descripcion" [rows]="4" [cols]="100" placeholder="Descripción, correspondiente al articulo." pInputTextarea autoResize="autoResize" class="form-control"></textarea>
                            <div *ngIf="submitted && !!f.art_descripcion.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_descripcion.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
    
                <div class="card card-w-title">
                    <h1 style="font-size: 20px; font-weight: bold;">Propiedades:</h1>
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Ubicación:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p-dropdown id="art_bodega" name="art_bodega" formControlName="art_bodega"  [options]="bodegas" [(ngModel)]="selectedBodega" [filter]="true" optionLabel="aula_nombre"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">Modelo:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_modelo" name="art_modelo" id="art_modelo" size="30px"
                                type="text" placeholder="Modelo del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_modelo.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_modelo.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Marca:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_marca" name="art_marca" id="art_marca" size="30px"
                                type="text" placeholder="Marca del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_marca.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_marca.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea">Cuenta Contable:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_cuenta_contable" name="art_cuenta_contable" id="art_cuenta_contable" size="30px"
                                type="text" placeholder="Cuenta Contable del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_cuenta_contable.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_cuenta_contable.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <label for="input">Dimensiones:</label>
                            <input maxlength="250" formControlName="art_dimensiones" name="art_dimensiones" id="art_dimensiones" size="10px" type="text" placeholder="Dimensiones del Articulo ejm: 5cm x 10cm" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_dimensiones.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_dimensiones.errors.required">Campo requerido</div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
                <div class="card card-w-title">
                    <h1 style="font-size: 20px; font-weight: bold;">Fechas:</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <label for="input">Fecha de Ingreso:</label>
                            <p-calendar formControlName="art_fecha_ing" name="art_fecha_ing" id="art_fecha_ing" [(ngModel)]="fec1" [showIcon]="true" class="form-control"></p-calendar>
                            <div *ngIf="submitted && !!f.art_fecha_ing.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_fecha_ing.errors.required">Campo requerido</div>
                            </div>
                        </div><br>
                        <div class="ui-g-12">
                            <label for="input">Fecha de Depresiación:</label>
                            <p-calendar formControlName="art_fecha_depre" name="art_fecha_depre" id="art_fecha_depre" [(ngModel)]="fec2" [showIcon]="true" class="form-control"></p-calendar>
                            <div *ngIf="submitted && !!f.art_fecha_depre.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_fecha_depre.errors.required">Campo requerido</div>
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="card card-w-title">
                    <h1 style="font-size: 20px; font-weight: bold;">Información:</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <label for="input">Institución:</label><br>
                            <p-dropdown id="art_empresa" name="art_empresa" formControlName="art_empresa" [options]="empresas" [(ngModel)]="selectedEmpresa" [filter]="true" optionLabel="emp_nombre"></p-dropdown>
                            <p-button type="button" (click)="showDialog()" label="Nuevo">
                            </p-button>
                        </div>
                        <div class="ui-g-12">
                            <label for="input"> Categoría:</label><br>
                            <p-dropdown formControlName="art_categoria" id="art_categoria" name="art_categoria" [options]="categorias" [(ngModel)]="selectedCategoria" [filter]="true" optionLabel="cat_nombre"></p-dropdown>
                            <p-button type="button" (click)="showDialog2()" label="Nuevo">
                            </p-button>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Estado:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <select class='input select' formControlName="art_marca" name="art_marca" id="art_marca" class="form-control">
                                <option value="BUENO">BUENO</option>
                                <option value="MALO">MALO</option>
                                <option value="EN REPARACION">EN REPARACION</option>
                                <option value="DADO DE BAJA">DADO DE BAJA</option>
                            </select>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="textarea" style="font-size: 13px;">Conciliación:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input maxlength="250" formControlName="art_conciliacion" name="art_conciliacion" id="art_conciliacion" size="15px" id="input" type="text" placeholder="Conciliación del Articulo" pInputText class="form-control" />
                            <div *ngIf="submitted && !!f.art_conciliacion.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_conciliacion.errors.required">Campo requerido</div>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <label for="input"> Asignado:</label><br>
                            <p-dropdown formControlName="art_asignado" id="art_asignado" name="art_asignado" [options]="docentes" [(ngModel)]="selectedDocente" placeholder="Selecciona un Docente"  optionLabel="per_identificacion" [showClear]="true" [filter]="true" filterBy="label,value.per_identificacion,value.per_primerapellido,value.per_primernombre">
                                <ng-template let-doc pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{doc.value?.per_identificacion+" "+doc.value?.per_primernombre +" " +doc.value?.per_primerapellido}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <!-- <p-dropdown formControlName="art_asignado" id="art_asignado" name="art_asignado" [options]="docentes" [(ngModel)]="selectedDocente" [filter]="true" optionLabel="per_identificacion"></p-dropdown> -->
                        </div>
                        <div class="ui-g-12">
                            <label for="input">Observación:</label>
                            <textarea maxlength="5000" formControlName="art_observacion" name="art_observacion" id="art_observacion" [rows]="4" [cols]="100" placeholder="Observación, correspondiente al registro articulo." pInputTextarea autoResize="autoResize" class="form-control"></textarea>
                            <div *ngIf="submitted && !!f.art_observacion.errors" class="invalid-feedback">
                                <div *ngIf="!!f.art_observacion.errors.required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
                    <button style="margin:10px;height: 40px;width: 110px;background-color: rgb(2, 104, 199);color: white; font-size: small;" label="Guardar">Guardar</button>
                </div>
            </div>
        </form>
    </div>