.columna4 {
  width:25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  
  .columna4 {
    width:auto;
    float:none;
  }
 
}
.columna2 {
  width:45%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna2Horz {
  height:45%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  
  .columna2 {
    width:auto;
    float:none;
  }
 
}

.columna3 {
  width:33%;
  float:left;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  
  .columna3 {
    width:auto;
    float:none;
  }
  
}


.label{
  width: 20%;
}

.input{
  height: 30px;
}

.entradasTxt{
  height: 150px;
  width: 60;
  background-color: green;
}

h1{
  size: 5px;
}