<div class="container" style="background-color: white; height: 60px;">
    <div class="columna">
        <button *ngIf="bandera1==true" style="margin: 10px" pButton type="button" (click)='listarDocente()'
            label="LISTAR"></button>
        <button *ngIf="bandera2==true" style="margin: 10px" pButton type="button" (click)='listarArticulo()'
            label="LISTAR"></button>
        <button *ngIf="bandter==true" style="margin: 10px" pButton type="button" (click)='terminarRegistro()'
            label="TERMINAR"></button>
        <button *ngIf="activo==true" style="margin: 10px" pButton type="button" kendo-button
            (click)="pdf.saveAs('acta.pdf')" label="IMPRIMIR"></button>
    </div>
    <br>
</div>
<br><br>
<div class="ui-g" *ngIf="bandera1==true">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 *ngIf="bandera1==true">Docentes</h1>
            <p-table #dt 
                [columns]="cols" [value]="docentes" [lazy]="true" (onLazyLoad)="loadDocentesLazy($event)"
                (onFilter)="columnFilter($event)" [paginator]="true" (onRowSelect)="onRowSelect($event)" [rows]="10"
                [filterDelay]="400" [totalRecords]="totaldocentes" [loading]="this.loading" selectionMode="single"
                dataKey="per_identificacion" [(selection)]="selectedDocente" [scrollable]="true"
                [style]="{width:'100%'}" scrollHeight="400px">>

                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let doc of columns" style="width:150px; align-items: center;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="celda2">Cedula</th>
                        <th class="celda3">Nombre</th>
                        <th class="celda3">Apellido</th>
                        <th class="celda3">Telefono</th>
                        <th class="celda5">Correo</th>
                        <th class="celda0">Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" style="font-size: smaller; font-weight: bold; align-items: center;"
                        *ngFor="let doc of docentes">
                        <td class="celda2">{{doc.per_identificacion}}</td>
                        <td class="celda3">{{doc.per_primernombre}}</td>
                        <td class="celda3">{{doc.per_primerapellido}}</td>
                        <td class="celda3">{{doc.per_celular}}</td>
                        <td class="celda5">{{doc.per_correo}}</td>
                        <td class="celda0">
                            <button (click)='seleccionarDocente(doc)' style="margin:10px; height:25px; width:30px"
                                pButton type="button" class="ui-button-secondary"><i class="pi pi-check"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div *ngIf="bandera2==true" class="datagrid" style="padding:20px;">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <!-- <h3 style="text-align: right;" ><p-checkbox name="all" value="val1" label="Seleccionar Todo"  [(ngModel)]="all"></p-checkbox></h3> -->
            <h1>Articulos</h1>
            <p-table #dt [columns]="cols2" [value]="articulos" [lazy]="true" (onLazyLoad)="loadArticulosLazy($event)"
                (onFilter)="columnFilter($event)" [paginator]="true" (onRowSelect)="onRowSelect($event)" [rows]="10"
                [filterDelay]="400" [totalRecords]="totalrecords" [loading]="this.loading" selectionMode="single"
                dataKey="art_id" [(selection)]="selectedArticulo" [scrollable]="true" [style]="{width:'100%'}"
                scrollHeight="400px">

                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Ingresa el parámetro a buscar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:140px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="celda1">Código</th>
                        <th class="celda5">Nombre</th>
                        <th class="celda2">Estado</th>
                        <th class="celda7">Ubicación Destino</th>
                        <th class="celda4">Detalle</th>
                        <th class="celda0">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" style="font-size: smaller; font-weight: bold; align-items: center;"
                        *ngFor="let art of articulos">
                        <td class="celda1">{{art.art_codigo}}</td>
                        <td class="celda5">{{art.art_bien}}</td>
                        <td class="celda2">{{art.art_estado}}</td>
                        <td class="celda7">{{art.art_aula}}</td>
                        <td class="celda4">{{art.art_asignado}}</td>
                        <td class="celda0">
                            <button (click)='seleccionarArticulo(art);'
                            class="ui-button-secondary" style="margin:10px; height:25px; width:30px" pButton type="button"><i
                                    class="pi pi-check"></i></button>
                            <!-- <mat-checkbox name="all" color="warn" style='background-color:gray;margin-left:30px;'  ></mat-checkbox>  -->
                         </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="5mm" style="display:flex;align-items: center;justify-content: center;">

    <div *ngIf="bandera3==true" style="background-color: white; padding:20px; align-items: center; text-align: center;">
        <div><img src="../../../assets/logoOfi.png" width="150px" height="120px"></div>
        <p style="align-items: center; font-weight: bold;"><br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            <br><br>ACTA DE RESPONSABILIDAD DE BIENES
        </p>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> En la ciudad de Cuenca a los {{dia}} del mes {{mes}} de {{aa}} se procede a la suscripción de la
                presente Acta de Responsabilidad de Bienes. Por una parte el Magt. Marcelo Aguilera Crespo, Rector del
                Instituto Superior Tecnológico del Azuay (quien entrega),
                y por otra parte el /la docente {{doc.per_primernombre}} {{doc.per_primerapellido}} (quien recibe) se
                procede a la entrega de los bienes que a continuación detalla:
            </p>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;">
            <p-table [columns]="cols" [value]="inventarios" selectionMode="single" dataKey="inv_art_codigo"
                [(selection)]="selectedInventario" [responsive]="true">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let inv of inventarios" style="height: 50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr style="font-size: 11px">
                        <th style="width: 50px;">Código</th>
                        <th style="width: 96px;">Nombre</th>
                        <th style="width: 50px;">Color</th>
                        <th style="width: 50px;">Marca</th>
                        <th style="width: 70px;">Modelo</th>
                        <th style="width: 70px;">Serie</th>
                        <th style="width: 70px;">Estado</th>
                        <th style="width: 96px;">Ubicación Destino</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" *ngFor="let inv of inventarios" style="font-size: 6px;">
                        <td style="width: 50px;">{{inv.inv_art_codigo}}</td>
                        <td style="width: 96px;">{{inv.inv_art_bien}}</td>
                        <td style="width: 50px;">{{inv.inv_art_color}}</td>
                        <td style="width: 50px;">{{inv.inv_art_marca}}</td>
                        <td style="width: 70px;">{{inv.inv_art_modelo}}</td>
                        <td style="width: 70px;">{{inv.inv_art_serie}}</td>
                        <td style="width: 70px;">{{inv.inv_estado}}</td>
                        <td style="width: 96px;">{{inv.inv_art_ubicacion_destino}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <br>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> Declaro que he recibido los bienes institucionales detallados que se me han asignado, por lo que me
                comprometo a su custodia, conservación y devolución.</p>
            <br>
        </div>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p>Los bienes únicamente podrán ser movidos bajo los procedimientos establecidos por la institución, por lo
                que en caso de movimientos no autorizados, la responsabilidad de los bienes y del cumplimiento del
                proceso es exclusivo del custodio.</p>
        </div>
        <br><br><br>
        <p style="align-items: center;font-weight: bold;"><br><br>______________________ <br>{{doc.per_primernombre}}
            {{doc.per_primerapellido}}<br>CI: {{doc.per_identificacion}}
            <br>Docente<br></p>
        <br><br>
        <p style="align-items: center;font-weight: bold;"><br><br>______________________ <br> Aguilera Crespo
            Marcelo<br>CI: 0104234216<br>Rector<br>
        </p>


    </div>
</kendo-pdf-export>