.columna {
    width: 50%;
    float: left;
    background-color: #ffffff;
}

@media (max-width: 500px) {
    .columna {
        width: auto;
        float: none;
    }
}

.celda0 {
    width: 73px;
}

.celda1 {
    width: 96px;
}

.celda2 {
    width: 146px;
}

.celda3 {
    width: 125px;
}

.celda4 {
    width: 150px;
}

.celda5 {
    width: 200px;
}

.celda7 {
    width: 300px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #C8C8C8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
    padding: 8px 8px;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F0F0F0), color-stop(1, #F7F7F7));
    background: -moz-linear-gradient( center top, #F0F0F0 5%, #F7F7F7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#F7F7F7');
    background-color: #F0F0F0;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    border-left: 2px solid #C8C8C8;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #000000;
    border-left: 2px solid #C8C8C8;
    font-size: 12px;
    border-bottom: 2px solid #C8C8C8;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #F4F4F4;
    color: #2A2E2E;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

kendo-pdf-export {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 10px;
}