<div class="landing-wrapper">
    <div id="features">
        <div class="features-content">
            <span class="feature-title">Sistema de Inventario - Modulos</span>
            <p>Descripcion detallada, sobre la funcion de cada modulo dentro del sistema del inventario.</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/asignar/guardar"><img src="assets/layout/images/landing/section2_1.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Asignación</span>
                    <p>Se realiza la respectiva asignación de uno o varios articulos a un encargado.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/articulo/guardar"><img src="assets/layout/images/landing/section2_4.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Articulos</span>
                    <p>Se permite la gestión de un articulo: Ingresar, Ver y Modificar.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/categoria/guardar"><img src="assets/layout/images/landing/section2_3.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Categorias</span>
                    <p>Se permite la gestión de una categoría: Ingresar, Ver y Modificar.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/institucion/ingresar"><img src="assets/layout/images/landing/section2_8.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Institución</span>
                    <p>Se permite la gestión de una institución: Ingresar, Ver y Modificar.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/bodega/guardar"><img src="assets/layout/images/landing/section2_2.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Ubicaciones</span>
                    <p>Se permite la gestión de una ubicación: Ingresar, Ver y Modificar.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/docente/listar"><img src="assets/layout/images/landing/section2_5.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Docentes</span>
                    <p>Se obtiene un listado con los datos necesarios del docente.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/reporte/articulo"><img src="assets/layout/images/landing/section2_7.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Reportes</span>
                    <p>Se imprime un reporte de artículos según la busqueda realizada.</p>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <a href="/#/Soporte"><img src="assets/layout/images/landing/section2_6.png" class="feature-icon"></a>
                    <span class="feature-text">
                            <span>Soporte</span>
                    <p>Información sobre el sistema y soporte para obtener un sistema funcional</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>